<div class="container p-3 my-5 rounded" style="background-color: white; min-height: 70vh;">
  <div class="row justify-content-center">
    <div class="col-md-1">
      <div class="">
        <%= link_to "<", pokemons_path, class: "btn btn-success go" %>
      </div>
    </div>
    <div class="col-md-9">
      <div>
        <h2><%= @pokemon.number %></h2>
      </div>
    </div>
    <div class="col-md-2">
      <div class="addition">
        <% if current_user %>
          <% if current_user.user_pokemons.length < 3 %>
          <%= simple_form_for([current_user, UserPokemon.new]) do |f| %>
            <%= f.hidden_field :pokemon_id, value: params[:id].to_i %>
            <%= f.button :submit, id: "add-btn", value: "Add to Team", style: "color:white" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1><%= @pokemon.name %></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col" style="text-align: -webkit-center;">
      <div class="card--<%=@pokemon.kind_of.downcase%> rounded" style="width:200px;color:white"><%= @pokemon.kind_of %></div>
      <br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 hero-info">
      <h2 class="pb-3">DESCRIPTION</h2>
      <p class="mt-5"><%= @pokemon.description %></p>
    </div>
    <div class="col-md-4">
      <div class="hero-image" style="background-image: url(<%= @pokemon.picture %>); height: 100%;">
      </div>
    </div>
    <div class="col-md-4 hero-info">
      <h2 class="pb-3">STATS</h2>
      <div class="row justify-content-center">
        <div class="col-md-9 text-left">
          <p>Health</p>
          <p>Attack</p>
          <p>Defense</p>
          <p>Special Attack</p>
          <p>Special Defense</p>
          <p>Speed</p>
        </div>
        <div class="col-md-3">
          <p><%= @pokemon.hp %></p>
          <p><%= @pokemon.attack %></p>
          <p><%= @pokemon.defense %></p>
          <p><%= @pokemon.special_attack %></p>
          <p><%= @pokemon.special_defense %></p>
          <p><%= @pokemon.speed %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3 hero-info">
    <h2 class="mb-3">MOVES</h2>
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-3 mb-3">
            <%= "Name" %>
          </div>
          <div class="col-md-2 mb-3">
            <%= "Pwr" %>
          </div>
          <div class="col-md-2 mb-3">
            <%= "Type" %>
          </div>
          <div class="col-md-2 mb-3">
            <%= "Acc" %>
          </div>
          <div class="col-md-1 mb-3">
            <%= "lvl" %>
          </div>
          <div class="col-md-2 mb-3">
            <%= "class" %>
          </div>

        <% @moves.each do |move| %>
          <div class="col-md-3">
            <%= move["name"] %>
          </div>
          <div class="col-md-2">
            <%= move["power"]%>
          </div>
          <div class="col-md-2">
            <%= move["type"]%>
          </div>
          <div class="col-md-2">
            <%= move["accuracy"] %>
          </div>
          <div class="col-md-1">
            <%= move["learned_at"] %>
          </div>
          <div class="col-md-2">
            <%= move["damage_class"] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
